<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fil d'actualité</title>
    <style>
       #tete{
        display: flex;
        background-color: rgb(34, 171, 235) ;
        padding: 5px;
        font: optional;color: white;
       }
        #first{
            display: flex;
        }
        #profilImg{
            border-radius: 80px;
        }
#nomUtilisateur{
    font: optional;color: gray;
}
    </style>
</head>
<body>
    <section id="tete">
    <h1 >Forum Digicodeuses</h1>
    <div id="autre">
        <div id="acueil">
            <a href="">Accueil</a>
        </div>
        
        <div id="monProfil">
            <a href="">Mon profil</a>
        </div>
        <div id="deconnexion">
            <form action="/deconnexion" method="post">
                <button type="submit">Déconnexion</button>
            </form>
        </div>
    </div>
</section>
<section id="first">
    <div id="info">
        <img src="https://images.prismic.io/utopix-next-website/Mzk0NGJkOWEtY2ZlYS00MjVjLTkwNTAtOGY5OWQzN2IzNGVi_762cec57-2eaf-4eaf-9a0d-2e7860147e48_profilhomme7.jpg?ixlib=js-3.8.0&w=3840&auto=format&fit=max" alt="" srcset="" id="profilImg" width="150px">
        <h3 id="nomUtilisateur">{{.Nom}} {{.Prenom}}</h3>
        <a href="" id="mod">Modifiez le profil</a>
    </div>
    <hr>
    <div id="fil">
        <h3>Fil d'actualité</h3>
    </div>
    <hr>
    <div id="mesDiscussion">
        <h3>discussion instantanée</h3>
    </div>
</section>
</body>

</html>

